*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}
h1 {
  font-size: 50px;
  margin-bottom: 40px;
  margin-top: 50px;
}
h3{
    margin-bottom: 20px;
}
.orange-highlight{
    color: #FFA500;
}

.p{
    color: #696969;
}

.half-width{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}
.half-width img{
    width: 100%;
}
section{
    height: 600px;
}

.top-section{
    background-image: url(./img/top-banner.png);
    background-repeat: no-repeat;

}

.link-button{
    text-decoration: none;
    background-image: linear-gradient(46deg, lightSalmon, tomato);
    padding: 10px 20px;
    border-radius: 5px;
    color: #fff;
    display: inline-block;
    margin-top: 10px;
}

.mid-section{
    background-image: url(./img/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right 100px;
}
.third{
    background-image: url(./img/exp-bg.png);
    background-repeat: no-repeat;
    background-position:left 120px;

}
.third h2{
    font-size: 30px;
    margin-bottom: 20px;
}
.third .half-width{
    box-shadow: 10px 10px 40px gray;
    border-radius: 5px;
    height: 60%;
    border-left: 7px solid #000;
    border-image:linear-gradient(180deg, lightSalmon, tomato);
    border-image-slice: 1;
}

.third .half-width:last-child{
    border-left: 7px solid #000;
    border-image:linear-gradient(180deg ,blue, cyan);
    border-image-slice: 1;
    

}

footer p{
    text-align: center;
}